.container-mark2 {
  display: flex;
  align-items: center;
  margin: 55px;
}

.mark2-image {
  width: 50%;
  margin-left: 12%;
}

img {
  height: 540px;
  width: 560px;
  border-radius: 8px;
}

h7 {
  letter-spacing: 15px;
  color: #d87d4a;
  line-height: 55px;
}

.price-mark2 {
  margin: 45px 0;
  font-weight: bolder;
}

.mark2-button {
  display: flex;
}

.btn-jumlah {
  margin-right: 10px;
  width: 160px;
  height: 48px;
  background: #f1f1f1;
  border: none;
  border-radius: 2px;
  text-align: center;
  line-height: 50px;
  font-weight: bolder;
}

.counter {
  display: flex;
  justify-content: center;
}

.counter-min {
  margin-right: 50px;
}

.counter-max {
  margin-left: 50px;
}

.btn-add {
  width: 160px;
  height: 48px;
  background: #d87d4a;
  border: none;
  border-radius: 2px;
  color: #fff;
}

.mark2-spect {
  padding: 25px;
  width: 50%;
}

.spect {
  margin-top: 30px;
}

.container-features-mark2 {
  display: flex;
  margin: 25vh 55px 55px 55px;
}

.features-mark2 {
  margin-left: 12%;
  width: 40%;
}

.features-titel {
  margin-bottom: 30px;
}

.features-desc {
  text-align: justify;
}

.include-mark2 {
  margin-left: 9%;
}

.include-item {
  color: #d87d4a;
  margin-right: 25px;
  line-height: 35px;
}

.mark2-example {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 25vh;
}

.mark2-row {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.example1img {
  height: 280px;
  width: 445px;
  margin-bottom: 10px;
  margin-right: 25px;
}

.example3img {
  height: 280px;
  width: 445px;
  margin-top: 20px;
  margin-bottom: 5px;
  margin-right: 25px;
}

.example2img {
  height: 592px;
  width: 635px;
}

.like-item-titel {
  margin-top: 20vh;
  font-weight: bolder;
  text-align: center;
  justify-content: center;
  font-size: 32px;
}

.card-item-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 38px;
  margin-top: 50px;
}

.card-like {
  display: flex;
  flex-direction: column;
  margin-left: 45px;
  align-items: center;
}

.like-item {
  height: 310px;
  width: 339px;
}

.item-name {
  font-weight: bolder;
  text-align: center;
  margin: 30px 0 30px 0;
}

.btn-product {
  width: 160px;
  height: 48px;
  background: #d87d4a;
  border: none;
  border-radius: 2px;
  color: #fff;
}
