@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700&display=swap");

.header {
  width: 100%;
  height: 220px;
  background: #101010;
  text-align: center;
}

.text__header {
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  letter-spacing: 1.42857px;
  font-size: 40px;
  line-height: 44px;
  margin: auto;
  padding-top: 90px;
}

.item {
  margin: 160px auto 160px auto;
  width: 1110px;
  height: 560px;
  display: grid;
}

.pict__container {
  width: 540px;
  height: 560px;
  grid-column: 1;
  grid-row: 1;
  background: #f1f1f1;
  align-items: center;
  border-radius: 10px;
}

.pict__containerRev {
  width: 540px;
  height: 560px;
  grid-column: 2;
  grid-row: 1;
  background: #f1f1f1;
  align-items: center;
  border-radius: 10px;
}

.pict {
  margin-top: 57px;
  width: 349.24px;
  height: 386px;
}

.shadow {
  width: 262px;
  height: 56px;

  margin: auto;
  background: #000000;
  mix-blend-mode: normal;
  opacity: 0.4;
  filter: blur(40px);
}

.description__container {
  width: 540px;
  height: 560px;
  grid-column: 2;
  grid-row: 1;
}

.description__containerRev {
  width: 540px;
  height: 560px;
  grid-column: 1;
  grid-row: 1;
}

.title__new {
  height: 19px;
  margin-top: 120px;
  margin-left: -230px;
  margin-bottom: -20px;
  right: 55.28%;
  top: calc(50% - 19px / 2 - 162px);

  font-family: Manrope;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 10px;
  text-transform: uppercase;

  color: #d87d4a;
}

.title {
  text-align: left;
  height: 88px;
  top: calc(50% - 88px / 2 - 92.5px);
  padding-left: 50px;
  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 44px;
  margin: 40px auto 16px auto;

  letter-spacing: 1.42857px;
  text-transform: uppercase;
}

.description {
  text-align: left;
  padding-left: 50px;
  font-family: "Manrope", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 25px;
  color: #000000;

  mix-blend-mode: normal;
  opacity: 0.5;
}

.btn {
  margin-top: 40px;
  margin-left: -285px;
  width: 160px;
  height: 48px;
  background: #d87d4a;
  border: none;
  border-radius: 2px;
  align-items: left;

  top: calc(50% - 18px / 2);

  font-family: Manrope;
  font-style: normal;
  font-weight: bold;
  font-size: 13px;
  line-height: 18px;
  /* identical to box height */

  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
}
